section {
    text-align: center;
}

.Jumbotron {
    margin-top: 250px;
}

#showcasePics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    border: 5px solid black;
    border-radius: 5px; 
    background: #FF7A00;
    margin-top: 0%;
    margin-bottom: 2rem;
}

#firstImage {
    margin-bottom: 2rem;
}

#secondImage {
    margin-bottom: 2rem;
}

#showcaseJumbo {
    background: #FF7A0099;
    font-family: Fenwick Woodtype;
    font-size: 2rem;
    color: black;
    border: 5px solid #ff7a00;
    border-radius: 5px; 
    justify-content: space-between;
    margin-top: 2rem;
    }

#headline {
    border: 5px solid #000000;
    border-radius: 5px; 
    background: #ff7a00;
    padding: 2rem 0px;
    text-align: center;
}

#headline h1 {
    font-size: 5rem;
}

#headline h2 {
    margin-bottom: 16px;
}

#showcaseButton {
    color: black;
    border: 3px solid #000000;
    border-radius: 5px; 
    background-color: #ff7a00;
    font-size: larger;
    margin-top: 2rem;
}

.Container {
    margin-top: 2rem;
}
