#aboutContainer {
    background: #FF7A0099;
    font-family: Fenwick Woodtype;
    font-size: 2rem;
    color: black;
    border: 5px solid #ff7a00;
    border-radius: 5px; 
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#aboutHeading {
    border: 5px solid #000000;
    border-radius: 5px; 
    background: #ff7a00;
    margin-bottom: 2rem;
}

#aboutHeading h2 {
    font-size: 4rem;
}

#sectionContent {
    display: flex;
    flex-direction: row;
}

#textboxContainer, #skillsContainer, #contactBox {
    display: flex;
    flex-direction: column;
    border: 5px solid #000000;
    border-radius: 5px; 
    background: #ff7a00;
}

#contactBox {
    padding-top: 2rem;
}

#profilePic {
    margin-bottom: 2rem;
}

#contactBox {
    background: #ff7a00 ;
    margin: 2rem;
}

#skillsContainer {
    flex-direction: row;
    margin-top: 2rem;
    text-align: center;
}

#textboxContainer {
    margin: 0 2rem;
}

#textboxContainer h2 {
    padding-top: 3rem;
    font-size: 2.5rem;
}

#skills {
    flex-direction: row;
}

#contactButton {
    color: black;
    border: 3px solid #000000;
    border-radius: 5px; 
    background-color: #ff7a00;
    font-size: larger;
    margin: 2rem;
}

#sectionContent2 {
    display: flex;
    flex-direction: row;
    border: 5px solid #000000;
    border-radius: 5px; 
    background: #ff7a00;
    margin: 1rem 1rem 2rem 1rem;
    padding: 2rem 0;
}

#skillsHeading {
    border: 5px solid #000000;
    border-radius: 5px; 
    background: #ff7a00;
    font-size: 3rem;
    margin-top: 2rem;
}