.navItems {
    font-family: Fenwick Woodtype;
    font-size: 1.5rem;
    color: black;
    border: 3px solid #000000;
    border-radius: 5px; 
}

#customNavs {
   flex-direction: row;
}

a.nav-link.active, .show .nav-link {
   background-color: #ff7a00;
}
